<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%#= render post %>
    <!--<p>
      <%#= link_to "Show this post", post %>
    <tr>
      <td><%#= post.comments.map(&:name) %></td>
    </tr>
    </p>-->
    <tr>
      <td><%= post.comments.sum(:positive_count) %></td>
      <td><%= post.comments.sum(:negative_count) %></td>
    </tr>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
